html {
  background-color:  #fff;
  color: #000;
  line-height: 1.5;
}

main {
  margin: 8px;
  font-family: georgia;
}

body {
  margin: 0px;
}

header {
  background-color: #ffe524;
  padding: 0.25em 0.25em 0.25em 0.25em;
  margin: 0 0em;
  border: 0px none #000;
  display: block;
}

h1 {
  color: #b32f52;
  text-align: center;
  font-size: 2rem;
  font-family: 'Sigmar One', cursive;
}

h2 {
  color: #b32f52;
  font-family: 'Sigmar One', cursive;
  border-top: 4px solid #ffe524;
  padding-top: 15px;
}

h3 {
  color: #b32f52;
  font-family: 'Sigmar One', cursive;
}

img {
  width: 100%;
}

figure {
  font-style: italic;
  font-family: sans-serif;
  font-size: 0.75rem;
  padding: 1em 1em 1em 1em;
  border: 2px solid #c5b844;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
  background-color: #fffce0;
}

blockquote {
  font-size: 1rem;
  font-style: italic;
  color: #baa218;
  line-height: 1.5;
  text-align: center;
}

ol {
  list-style-type: none;
  font-family: sans-serif;
  list-style-type: none;
  background-color: #ffe524;
  display: block;
  padding: 0;
}

ul {
  list-style-type: lower-roman;
  font-family: sans-serif;
}

dl {
  font-family: sans-serif;
}

dt {
  font-weight: bold;
}


strong {
  font-weight: normal;
  font-style: italic;
}

blockquote p {
  font-size: 2.2rem;
  font-weight: bold;
  color: #baa218;
  text-align: center;
  margin: 0;
}


cite {
  font-size: 1rem;
  color: #baa218;
}


p {
  font-style: normal; /* italic, normal */
  text-decoration: none; /* underline, none, line-through */
  text-align: left; /* left, center, right, justify */
  font-family: georgia;
}

a{
  color: #b32f52;
}

}
nav ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav {
  text-align: center;
}

nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: 0.5em 0.75em;
  background-color: #b2a215;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 0 0.2em 0;
  text-align: center;
}

nav a:hover {
  background-color: #cc3865;
}

footer {
  background-color: #ffe524;
  padding: 1.5em 1.5em 1.5em 1.5em;
  text-align: center;
  font-size: 0.75rem;
}

footer ol{
  list-style-type: circle;
}

footer h2 {
  color: white;
  padding: 0.5em 0 0 0.5em;
}

blockquote footer {
  background-color: white;
}

dd {
  margin: 0px;
}
